service xiaomi.system.hypsys.common-service /vendor/bin/hw/xiaomi.system.hypsys.common-service
    class hal
    user system
    group system
    interface aidl xiaomi.system.hypsys.common.IHypSysSsi/default
    interface aidl xiaomi.system.hypsys.common.IHypSysSsiIntl/default
    oneshot
